/*parte do cabeçalho*/

/*reset*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
/*estilização do cabeçalho*/
header{

    width: 100vw;
    padding: 30px; /*espaço interno*/
color: #ecf0f1; /*cor da fonte*/
background-color: #2c3e50; /*cord de fundo*/
text-align: center; /*texto centralizado*/
box-shadow: 0 0 4px 0 #7f8c8d; /*sombra*/

}   

footer{

    width: 100vw;
    padding: 30px; /*espaço interno*/
color: #ecf0f1; /*cor da fonte*/
background-color: #2c3e50; /*cord de fundo*/
text-align: center; /*texto centralizado*/
box-shadow: 0 0 4px 0 #7f8c8d; /*sombra*/
 position: fixed; /*fixando elemento*/
 bottom: 0; /*margem de baixo (parte de baixo da pagina)*/
 
}


